<p>orders works!</p>
<div class="card-group">
<div  *ngFor="let order of orders">
  
<div class="card" style="width: 18rem;">
    <div class="card-body" >
      <h5 class="card-title">{{order.name}}</h5><br/>
      <h6 class="card-subtitle mb-2 text-muted">{{order.orders}}</h6>
      <p class="card-text">{{order.total}}</p>
     
    </div>&nbsp;&nbsp;
  </div><br>&nbsp;&nbsp;
</div>
</div>
<!-- <table class="table table-hover">
  <thead>
    <tr class="table-info">
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">Orders</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders">
      <th scope="row"></th>
      <td>{{order.name}}</td>
      <td>{{order.orders}}</td>
      <td>{{order.total}}</td>
    </tr>
    
  </tbody>
</table> -->